@{
  Layout = "_Layout";
}
@model Factory.Models.Engineer

<div class="row">
  <div class="col">
    <h3>Engineer Details</h3>
    <br>
    <p><strong>Name: </strong>@Model.Name</p>
    <p><strong>Hire date: </strong>@Model.HireDate.ToString("MM/dd/yyyy")</p>
    <h4>Licensed machines:</h4>
    @if(@Model.JoinEntities.Count == 0)
    {
      <p>This engineer isn't currently licensed to repair any machines. To add machines to the engineer click here: @Html.ActionLink("Add Machine License", "AddMachine", new { id = Model.EngineerId})</p>
    }
    else
    {
      @foreach (var join in @Model.JoinEntities)
      {
        <p>
          @using (Html.BeginForm("DeleteMachine", "Engineers"))
          {
            @Html.Hidden("joinId", @join.EngineerMachineId)
            <input type="submit" value="Delete" class="btn btn-danger btn-sm" />
            @Html.ActionLink($"{join.Machine.Name}", "Details", "Machines", new { id = join.Machine.MachineId})
          }
        </p>
      }
    }
    <p>@Html.ActionLink("Edit Engineer", "Edit", new { id = Model.EngineerId})</p>
    <p>@Html.ActionLink("Delete Engineer", "Delete", new { id = Model.EngineerId})</p>
    <p>@Html.ActionLink("Add Machine License", "AddMachine", new { id = Model.EngineerId})</p>
  </div>
</div>